<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460574093497-79la2er1vjol9qbhl0vr7usbd3qpijpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460574093497-79la2er1vjol9qbhl0vr7usbd3qpijpq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>460574093497-v43c60qlqsavtkljs3osndl175ebpscr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj4d9-f0kGkS8gYsvhLSkqezLVjdfQYc8</string>
	<key>GCM_SENDER_ID</key>
	<string>460574093497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arturbegyan.fractal</string>
	<key>PROJECT_ID</key>
	<string>fractal-light</string>
	<key>STORAGE_BUCKET</key>
	<string>fractal-light.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460574093497:ios:cd673714b5364d40</string>
	<key>DATABASE_URL</key>
	<string>https://fractal-light.firebaseio.com</string>
</dict>
</plist>